.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.ticket-item-description{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-right: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* Modal */
.modal {
  background: white;
  border: .5px dotted lightgray;
  border-radius: 10px;
  width: 300px;
  outline: none;
  padding: 10px;
  text-align: center;
  margin-top: -200px;
  box-shadow: 0px 3px 15px rgba(207, 207, 207, 0.2);
}
.ReactModalPortal > div {
  opacity: 0;
  z-index: 99
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
  opacity: 0;
}

.button {
  background: #FCCDBF;
  border: none;
  padding: 10px;
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 10px;
  margin: 0 auto;
  width: 200px;
}

.dotted-line {
  border-bottom: .5px solid lightgray;
  padding-bottom: 10px;
}

.ticket-modal__description {
  padding: 15px;
  text-align: left;
  margin: 10px;
  border-bottom: 0.5px dotted lightgray;
}


.loader {
  margin: 200px auto;
  height: 20%;
  width: 20%;
}


.ticket-numbers-ul {
  max-width: 500px;
  list-style: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 1rem auto;
  overflow: hidden;
  padding: 5px;
}


.ticket-number-li{
  border: 0.5px solid lightgrey;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.error__message {
  color: red;
}
.error {
  background: white;
  border-radius: 5px;
  padding: 5px;
  margin: 40px auto;
}